.support-container {
  margin: 80px;
  margin-top: 80px;
  margin-bottom: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  height: 90%;
}

.support-title h2 {
  font-size: 2.2rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  color: #262b67;
}

.support-text-container {
  text-align: justify;
  text-indent: 2em each-line;
}

.support-text-container p {
  font-size: 1rem;
}

.support-image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.support-image img {
  width: 100%;
  height: auto;
  max-width: 400px;
}
