/* Hero.css */
.hero-image-overlay {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.hero-image-overlay img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.hero-image-overlay-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.hero-image-overlay-content h1 {
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-image-overlay-content p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.8em;
}

.hero-image-overlay-content button {
  font-size: 1rem;
  padding: 15px;
  margin-bottom: 20px;
}

.carousel-inner .carousel-item {
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
  transform: scale(0.9);
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next.carousel-item-start,
.carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transform: scale(1);
}

.carousel-inner .carousel-item h1,
.carousel-inner .carousel-item p,
.carousel-inner .carousel-item button {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel-inner .carousel-item.active h1,
.carousel-inner .carousel-item.active p,
.carousel-inner .carousel-item.active button {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
}

/* Responsive Styles for Small Devices */
@media (max-width: 767.98px) {
  .carousel-grid-item {
    display: flex;
    flex-direction: column;
  }

  .hero-image-overlay {
    height: auto;
  }

  .hero-image-overlay-content {
    padding: 1rem; /* Adjust the padding as needed */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    transform: translateY(10%); /* Move the content to the lower half */
  }

  .hero-image-overlay-content h1 {
    font-size: 1.5rem; /* Adjust the font size for h1 */
    margin-bottom: 10px; /* Adjust the margin as needed */
  }

  .hero-image-overlay-content p {
    display: none; /* Hide the paragraph on small devices */
  }

  .hero-image-overlay-content button {
    font-size: 0.8rem; /* Adjust the font size as needed */
    padding: 10px 15px; /* Adjust the padding as needed */
    display: inline-block; /* Ensure the button is displayed */
  }
}
