body {
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sections-container {
  max-width: 950px;
  margin: 0 auto;
}

.section {
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1;
  text-align: left;
}

.text h2 {
  color: #262b67;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
}

.image {
  flex: 1;
  text-align: left;
}

.image img {
  position: relative;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  margin-top: 20px;
}

.closing-statement {
  margin-top: 40px;
}

.closing-statement p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Media Query for Small Devices */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .image img {
    max-height: 150px; /* Adjust the maximum height of the images for small devices */
    margin-top: 10px;
  }
}
