body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  box-sizing: border-box;
}

.sections-container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.section {
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  flex: 1;
  text-align: left;
}

.text h2 {
  color: #262b67;
  font-weight: 600;
}

.text p {
  font-size: 1rem;
  line-height: 1.6;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 300px;
  max-width: 400px;
  margin-top: 20px;
  margin-right: 20px;
  border-radius: 5px 50px 5px;
}

/* Media Query for Small Devices */
@media (max-width: 600px) {
  .content {
    flex-direction: column;
  }

  .image img {
    max-height: 150px; /* Adjust the maximum height of the images for small devices */
    margin-top: 10px;
  }
}
