.requirements-box {
  position: relative;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.requirements-box img {
  width: 100%;
  height: auto;
}

.requirementsImage {
  background-image: rgba(44, 3, 3, 0.8), url("../Assets/image49.jpg");
}

.requirements-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  background-color: rgba(35, 14, 141, 0.8);
  opacity: 0.8;
  border-radius: 5px;
  width: 100%;
}

.requirements-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  flex: 1;
  column-count: 2;
  column-gap: 30px;
  width: 45%;
  column-rule-style: dotted;
  text-align: justify;
  display: inline-block;
}

.text-container p {
  font-size: 0.9rem;
  width: 100%;
  color: white;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .requirements-container {
    padding: 1rem;
    height: 140vh; /* Adjust height for smaller devices */
  }

  .requirements-container h2 {
    margin-bottom: 1rem; /* Adjust margin-bottom for h2 on smaller devices */
  }

  .text-container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }

  .text-container p {
    font-size: 0.7rem; /* Adjust font size for paragraphs on smaller devices */
    margin-bottom: 15px; /* Adjust margin-bottom for paragraphs on smaller devices */
  }
}
