.requirements-box {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.requirements-box img {
  width: 100%;
  height: auto;
}

.requirementsImage {
  background-image: rgba(44, 3, 3, 0.8), url("../Assets/image49.jpg");
}

.requirements-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5rem;
  background-color: rgba(35, 14, 141, 0.8);
  opacity: 0.8;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.requirements-container h2 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 600;
}
.text-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column {
  column-count: 2;
  width: 40%;
  column-rule-style: dotted;
}

.text-container p {
  font-size: 1rem;
  width: 100%;
  color: white;
  margin-bottom: 20px;
}
