.custom-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #42a02b;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
}

.left-section,
.right-section {
  display: flex;
  align-items: center;
}

.left-section .logo img {
  height: 70px;
  margin-right: 20px;
}

.navbar-toggler button {
  display: none; /* Hide by default for larger screens */
}

.navbar-toggler-icon {
  background-color: white;
  height: 70px;
}

.navbar-collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-collapse .nav-link {
  color: white;
  text-decoration: none;
}

.navbar-collapse .nav-link:hover {
  background-color: #d1d1fb;
  border-radius: 5px;
  padding: 10px 15px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}

.navbar-nav ul {
  display: inline;
  list-style-type: none;
  width: min-content;
  white-space: nowrap;
}

.nav-link {
  display: inline;
  color: white;
  text-decoration: none;
}

.right-section .social-links {
  display: inline;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: translateY(-2px);
}

/* Responsive Styles for Small Devices */
@media screen and (max-width: 800px) {
  .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar-toggler {
    display: block;
    border: none;
    cursor: pointer;
    display: block !important;
    order: 2;
  }

  .navbar-collapse {
    max-height: none; /* Ensure proper height for the navigation bar /
overflow: hidden; / Hide overflow on small screens */
    font-size: 0.8rem;
  }

  .navbar-nav.open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-nav.open .nav-item {
    margin: 0;
  }

  .right-section .social-links {
    display: none;
  }

  .navbar-header,
  .navbar-collapse,
  .navbar-nav,
  .social-links {
    width: 100%;
  }

  .left-section {
    justify-content: flex-start;
  }

  .navbar-collapse {
    order: 1;
    width: 100%;
  }

  .right-section {
    justify-content: flex-end;
  }
}
