.custom-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #42a02b;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbar-light {
  background-color: #42a02b !important;
  border: none !important;
  border-width: 0 !important;
  padding: 10px 20px;
}
.left-section {
  display: flex;
  align-items: center;
}

.navbar .left-section .logo img {
  display: flex;
  height: 90px;
  margin-right: 10px;
}

.navbar-nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
}

.nav-item {
  margin: 0 10px;
}

.nav-link {
  display: block;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.nav-link:hover {
  background-color: #d1d1fb;
  border-radius: 5px;
}

.right-section {
  display: flex;
  align-items: center;
}

.social-links {
  display: flex;
  align-items: center;
}

.social-links a {
  margin-left: 1rem;
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.icon {
  font-size: 1.5rem;
  color: #fff;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none;
  }

  .social-links {
    display: none;
  }

  .navbar {
    flex-direction: column;
    padding: 10px;
  }

  .left-section {
    justify-content: center;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    padding: 5px;
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .social-links a {
    margin: 0 10px;
  }
}
